<%= form_for(movement) do |f| %>
  <% if movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.text_field :credit %>
  </div>

  <div class="field">
    <%= f.label :debit %>
    <%= f.text_field :debit %>
  </div>

  <div class="field">
    <%= f.label :balance %>
    <%= f.text_field :balance %>
  </div>

  <div class="field">
    <%= f.label :costcenter_id %>
    <%= f.number_field :costcenter_id %>
  </div>

  <div class="field">
    <%= f.label :third_id %>
    <%= f.number_field :third_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
