<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @movement.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @movement.user %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
