<p id="notice"><%= notice %></p>

<h1>Costcenters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subcenter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costcenters.each do |costcenter| %>
      <tr>
        <td><%= costcenter.name %></td>
        <td><%= costcenter.subcenter_id %></td>
        <td><%= link_to 'Show', costcenter %></td>
        <td><%= link_to 'Edit', edit_costcenter_path(costcenter) %></td>
        <td><%= link_to 'Destroy', costcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costcenter', new_costcenter_path %>
