<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @costcenter.name %>
</p>

<p>
  <strong>Subcenter:</strong>
  <%= @costcenter.subcenter_id %>
</p>

<%= link_to 'Edit', edit_costcenter_path(@costcenter) %> |
<%= link_to 'Back', costcenters_path %>
