<p id="notice"><%= notice %></p>

<p><center>
	<h1> 
  		<%= @user.name %> 
  		<br>
  		<h2> Pagina de inicio de sesion del usuario</h2>
  	</h1>
  	</center>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
