<!DOCTYPE html>
<html>
  <head>
    <title>Ravesoft 1.0</title>
    
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<nav class="be-red white large-padding">
  		<ul class="no-list row center-xs middle-xs" >
  			<li class="col-md">
				<h1 class="no-margin">RAVESOFT</h1>
  			</li>
  			<li class="col-md">
				<%= link_to	"Inicio", root_path %>			
  			</li>
  			<li class="col-md">
				Estado de cuenta			
  			</li>
  			<li class="col-md">
				Reformas			
  			</li>
  			<li class="col-md">
				Archivo documentos			
  			</li>
  			<li class="col-md">
				Post-ventas			
  			</li>
  		</ul>
  	</nav>
  </header>



    <%= yield %>
  </body>
</html>
